body {
    font-family: "Archivo", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300; /* Replace 400 with the actual weight you need */
      font-style: normal;
      font-variation-settings: "wdth" 100;
  }
.main {
    display: flex;
    flex-direction: row; /* Horizontal layout */
}
.info {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.info-1 {
    font-style: italic;
    flex-grow: 1;
}

.info-2-container {
    display: none; /* Hide this by default */
}
.description {
    width: 50%;
    margin-bottom: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    font-weight: 700;
    background: #ffffff;
    position: sticky; top: 0;
    z-index: 1000;
    padding: 10px 0 10px 0;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: space-between;
}
.publication {
    margin-top: auto;
}
.title {
    font-weight: 700;
    width: 50%;
}
.resized-image {
    width: auto; /* Set only width */
    height: 15px;
    padding-right: 4px;
}

@media (max-width: 768px) {
    .main .info .info-2 {
        display: none; /* Hide it in the main container */
    }

    /* Move .info-2 outside the .main and display it */
    .info-2-container {
        display: block; /* Show the container on mobile */
        margin-top: 20px; /* Optional: add space between sections */
    } 
    .info-2 {
        display: block; /* Ensure info-2 shows inside the new container */
    }
    .dots li {
        list-style: none;
        width: 5px;
        height: 5px;
        background-color: #fff;
        margin: 10px;
        border-radius: 10px;
        transition: 1s;
    }
    .dots li.active {
        width: 15px;
    }
}

.placeholder {
    background: rgb(0, 0, 0);
    height: 300px;
    margin-bottom: 20px;
}
.slider {
    width: 100%;
    max-width: 100vw;
    /* height: 700px; */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.list {
    display: flex; /* To arrange items in a horizontal row */
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}
.list .item {
    flex-shrink: 0; 
    width: 100%;
    height: 100%;
}
.list .item img{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.list .item img[src$=".gif"] {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.list .item video {
    width: 100%;
    max-width: 100vw;
    height: auto;
    object-fit: cover; /* Adjust as needed */
}
.buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.333);
    color:rgb(0, 0, 0);
    border: none;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
}
.dots {
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots li.active {
    width: 30px;
}
a {
    color: #000000; /* Link color */
    text-decoration: none; /* Removes underline */
}

a:hover {
    text-decoration: underline; /* Underline when hovered */
}
